<launch>
	<arg name="paused" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="verbose" default="false"/>
	<arg name="world" default="$(find raksha)/worlds/sky.world" />
	<arg name="debug" default="false"/>


	<!-- include gazebo launcher -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="verbose" value="$(arg verbose)"/>
		<arg name="paused" value="$(arg paused)"/>
	</include>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find raksha)/urdf/laser_turret.xacro'"/>

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model laser_turret -param robot_description"/>

	<rosparam file="$(find raksha)/config/laser_turret.yaml" command="load"/>

	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/laser_turret" args=" servo_x_controller servo_y_controller joint_state_controller "/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states" to="/laser_turret/joint_states"/>
	</node>

</launch>